DorisShisaWebApplication/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DorisShisa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DorisShisa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLevel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebUsers" nillable="true" type="tns:WebUsers" />
  <xs:complexType name="SubscriptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionDetails" nillable="true" type="tns:SubscriptionDetails" />
  <xs:complexType name="BookingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dates" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPeople" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Times" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDetails" nillable="true" type="tns:BookingDetails" />
  <xs:complexType name="OrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetails" nillable="true" type="tns:OrderDetails" />
  <xs:complexType name="ProductsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsDetails" nillable="true" type="tns:ProductsDetails" />
  <xs:complexType name="TaskDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="CusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dates" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="TableNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="Times" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDetails" nillable="true" type="tns:TaskDetails" />
  <xs:complexType name="ArrayOfOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetails" nillable="true" type="tns:OrderDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetails" nillable="true" type="tns:ArrayOfOrderDetails" />
  <xs:complexType name="PageVisit">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberOfVisits" type="xs:int" />
      <xs:element minOccurs="0" name="PageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageVisit" nillable="true" type="tns:PageVisit" />
  <xs:complexType name="ActivityLogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Activitydate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityLogs" nillable="true" type="tns:ActivityLogs" />
  <xs:complexType name="ReportDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDetails" nillable="true" type="tns:ReportDetails" />
</xs:schema>